body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}
.toolbar {
    background: #434343;
    font-family:'Raleway', sans-serif;
    height: 40px;
}
.toolbar:after {
    /* Or @extend clearfix */
    content:"";
    display: table;
    clear: both;
}
.col-logo {
    float: left;
    margin-left: 20px;
    padding-top: 6px;
    padding-bottom: 2px;
    width: 75px;
}

#mycourses {
    width: 200px;
    margin-top: 12px;
    color: #3097da;
    text-align:center;
    font-size: 14px;
    float: left;
}

#questions {
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align:center;
    font-size: 14px;
    float: left;
    background-color: #3097da;
    opacity:0.8;
    border:none;
}

#answers {
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    color: #3c602c;
    text-align:center;
    font-size: 14px;
    float: left;
    background-color: #7eb268;
    opacity:0.8;
    border:none;
}

@media only screen and (max-width: 350px) { #profile { display: none;} }
@media only screen and (max-width: 450px) { #mycourses { display: none;} }
@media only screen and (max-width: 550px) { #questions { display: none;} }
@media only screen and (max-width: 650px) { #answers { display: none;} }
@media only screen and (max-width: 1150px) { #search { display: none;} }
@media only screen and (max-width: 1300px) { #icon { display: none;} }

#searchBox {
    float: left;
    font-family:'Raleway', sans-serif;
    background: #efefef;
    border: 1px solid #606060;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    margin: 6px;
    padding: 5px 25px 5px 4px;
    width: 350px;
    margin-left: 80px;
    margin-right: 40px;
}
#searchButton {
    position: absolute; 
    margin: 9px 0 0 -78px;
}

#icon {
    width: 70px;
    margin-top: 7px;
    text-align:center;
    float: right;
}

#profile {
    width: 60px;
    margin-top: 1px;
    text-align:center;
    float: right;
}

#profilename {
    width: 60px;
    margin-top: 12px;
    color: white;
    text-align:center;
    font-size: 14px;
    float: right;
    margin-right: 20px;
}
