body {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}
td {
    padding: 0;
}
#toolbar {
    background-color: #434343;
    font-family:'Raleway', sans-serif;
    width: 100%;
}
.toolbar-td {
    text-align:center;
}
#toolbar-logo {
    width: 100%;
    padding-left:1%;
    vertical-align: center;
}
#toolbar-td-logo {
    width: 10%;
    padding: 1%;
}
#toolbar-td-courses {
    color: #3097da;
    font-size: 125%;
    width: 20%;
}
#toolbar-td-questions {
    background-color: #3097da;
    color: white;
}
#toolbar-td-answers {
    color: #3c602c;
    background-color: #7eb268;
}