<!-- <template name="courseItem"> -->
<!--     <\!-- <div class="course"> -\-> -->
<!--     <\!--   <div class="course-headings"> -\-> -->
<!--     <\!-- 	<div class="course-image"><img src="images/{{image}}"/></div> -\-> -->
<!--     <\!-- 	<div class="course-title">{{title}}</div> -\-> -->
<!--     <\!-- 	<div class="course-question">{{question}}</div> -\-> -->
<!--     <\!-- 	<div class="course-description">{{description}}</div> -\-> -->
<!--     <\!--   </div> -\-> -->
<!--     <\!-- </div> -\-> -->

<!--     <ul> -->
<!--       <li>{{title}}</li> -->
<!--       <li>{{description}}</li> -->
<!--       <li>{{author}}</li> -->
<!--       <li>{{creation_date}}</li> -->
<!--       <ul> -->
<!-- 	{{#each links}} -->
<!-- 	  <li>{{id}}</li> -->
<!-- 	  <li><iframe src="{{url}}"></iframe></li> -->
<!-- 	  <li>{{title}}</li> -->
<!-- 	  <ul> -->
<!-- 	    {{#each questions}} -->
<!-- 	    <li>{{id}}</li> -->
<!-- 	    <li>{{title}}</li> -->
<!-- 	    <li>{{type}}</li> -->
<!-- 	    <li>{{answers}}</li> -->
<!-- 	    {{/each}} -->
<!-- 	  </ul> -->
<!--        {{/each}} -->
<!--       </ul> -->
<!--       <li></li> -->
<!--     </ul> -->

<!-- <h1>Course Questions</h1> -->
<!-- <ul> -->
<!--     {{#each links.link_questions}} -->
<!--       <li>{{id}}</li> -->
<!--     {{/each}} -->
<!-- </ul> -->

<!-- </template> -->
